# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# For most files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Override specific settings for npm generated json files to avoid big diffs
[{package.json}]
indent_style = space
indent_size = 2
