sudo: false
language: node_js
node_js:
- '8'
- '10'
- '11'
cache:
  directories:
  - node_modules
before_script:
- yarn run lint
script:
- yarn run coverage
- if [ -n "${FRONTEND-}" ]; then yarn run test:frontend ; fi
- yarn run test:frontend:hooks
after_script:
- yarn run codecov
matrix:
  fast_finish: true
  allow_failures:
    - script: yarn run test:frontend
  include:
    node_js: node
    env: FRONTEND=true
addons:
  sauce_connect:
    username: _vigneshh
env:
  global:
    secure: sTKr9tup3z0WP0GKYgxYVExHyVr0ktKFDBqzKzeTJggckWtxXoqnJmckC3EY/7+FYg8JlqAYjSvu2r1JVFVZYMQ7dJ+RojyhjZuUHsB8ULyNtlJnUhjdF7sp4/lY12uzDgielVrVq5tujndiR/2qX6FYD6XiGuGuevR5bqjfrfYbykqCNtdKPiCH7HU95vBq7Qoz+Z2GC7vm9jSN4YSaGk2SjjCcgqNH/xGlXLq6BsRcSSjMKecpQPjq+B1vseEqDMq785AP4r3POJ1g87sscquimtQykloGS7DDJ65YmbxKIrprbTt4aZto3jqp2v6g4gnLVC2mtFv3sEa3M63SaZDQimcamZSJuyKLEXqCVcj35j4lv28pV9RPbyvoEby7kKheKY6wvXQyknastf06mT/SP4nXDsZKIIvwlpNbURd2KQT5X1WZmIqjrfJ0Zm/BnED7pALMATfEsHzk/aoDRFUZhAJCz//5umMDcpSxOEtBkyxz07XzW47Z2NTIOhjf2mzJt2yxxOiU71Gv6DPCC25dBZDi3p/gPm/JYEX4XD5U4hwbnAbk60VntZomGY7+hshkknwSdzg4q+7g3CamG1Dfi+WDOzDm3/PzYOTQfXP26T2KEtRVcbkA5lGi+4E5bRGunxNUdnY3mFE9Oehjb6e+4ko9z5HJXEH381bGB5Q=
