sudo: false
language: node_js
node_js:
- '7.1.0'
cache:
  directories:
  - node_modules
before_script:
- npm run lint
script:
- npm run test-frontend
- npm run coverage
after_script:
- npm run codecov
matrix:
  fast_finish: true
addons:
  sauce_connect:
    username: akuzmin
    access_key:
      secure: tn+6q2Q2m1Qwsxe8Av3pPVgMNTr+GD1PoArz6pRcseCKI0dST+jIU2uFwcJB6zj3icW/DULbKzO41OO96PseFBdt9EyphB+aPokV52SFYm1UVtKdClij9yOCHGPgng9AoeN9rXacMrHV1o6ipTOS9RYP2Ytp5h8ZVIX1ZLM2a5bkcJcqdiSBof3332Fs+MJUXSQHaMe6u8or7YPZuvr2IJqARqQcoLPzUR5SpZZwcLwF6wwZOAX3e+SXwiK/LEd8XjCbzJFbkdd9THVGF2gCjnKX0g45plCfp/+MrspXysAEvjygpfOiDYAshtzp55wOrpyC0EGKuZzMcOgKGLPBVwyOSnQsRM8BBSY75PiEQhn9zPuYEfMpprcwsj90XNaOjrpxCUZR/aTMUDdbA33LfbQr+3QeSlMpDetfc+xO24lBoLQgHaKZvA+QD1mQ9HDG3Hyq6WzRddplME6uzVetuR/Q/3CrRW1RLEhIaEaC2oUsDtYywFVeGMYjLkdWeqYT+P7XNl/eMXXBdYuAdPsdjmxnBGrC9syW7K/kvBno6Aaer11n0VJ+fRpZyizcBcKTYRvoeZ55BlPvaWEq7+dRrHd+T59nrrsZG29hK9lkdAyUDDpft2xID5+KTsUVJrGSdrhvwUlWSSr7eUiI1XVVPaR0kPml0prdBslwjepSlYc=
deploy:
  provider: npm
  email: vignesh.shanmugam22@gmail.com
  api_key:
    secure: CDMyrXfGYqRnmP/6lpGyVlZaKWaLFd/1AUSCR+glJVgTnu8nruE4BHpIHjHhr0+Sc1eN8Y30hl2Fsu8YB25n/pslU6s33g4MenwP96ikHDcf1I92MNsHwowpaVCsVujCT1lFV7cRE9ypdBchsaHJcMdSbdtSjzeVN6sSjz6OhMK/CmiODbhrURT0qqIdLBOt7BdieqmimB7059tJ8RhdR8ZeEYi+xLAMlvyvZhAIXGpyawcVuTtICoeRrgDw2B7DizXBPfPYBLcfeEsP5xWe1VTaG5vY4xbK9OxucyNd3LkdWd6u5ktDLSDVLtxoSkoTfCZ4l57c5ViL0aXujI0PJrClkEKxnBsoyjuta4zSBDQGqTVlR0bn+B8gLCQR9lmfkLB+/PDTpOtp2tz3G7yMpo6WiJ3DKgW5mZc3+GKfeHZkkLPlIxTqQ3+iMY1V46I+zao40oFd06jFKE07eHD8xlN8pToXNBAQ6ia0Drh5gmX6A+kGatbDsbT4L3tkYbnTGq0m+o0PTIRw8wwwlw3qFsjodPna7xS/rq7CLPwoaxf4aCT3pt1YMadMVLyPq+5k2BVQrYX1VgDOOXbQQIEU6vVhZjEifoYaNSskVn8mFrsSCADB6W7iXV5YEEj8HQzQ/ScTyl1FqFml+kr+mqC7opnL0ncnnZX5EA1fbftD2iQ=
  on:
    tags: true
    repo: zalando/tailor
    branch: master
