sudo: false
language: node_js
node_js:
- 6.1.0
- 7.1.0
- 8.0.0
cache:
  directories:
  - node_modules
before_script:
- yarn run lint
script:
- yarn run coverage
- if [ -n "${FRONTEND-}" ]; then yarn run test-frontend ; fi
after_script:
- yarn run codecov
matrix:
  fast_finish: true
  include:
    node_js: node
    env: FRONTEND=true
addons:
  sauce_connect:
    username: _vigneshh
deploy:
  provider: npm
  email: vignesh.shanmugam22@gmail.com
  api_key:
    secure: CDMyrXfGYqRnmP/6lpGyVlZaKWaLFd/1AUSCR+glJVgTnu8nruE4BHpIHjHhr0+Sc1eN8Y30hl2Fsu8YB25n/pslU6s33g4MenwP96ikHDcf1I92MNsHwowpaVCsVujCT1lFV7cRE9ypdBchsaHJcMdSbdtSjzeVN6sSjz6OhMK/CmiODbhrURT0qqIdLBOt7BdieqmimB7059tJ8RhdR8ZeEYi+xLAMlvyvZhAIXGpyawcVuTtICoeRrgDw2B7DizXBPfPYBLcfeEsP5xWe1VTaG5vY4xbK9OxucyNd3LkdWd6u5ktDLSDVLtxoSkoTfCZ4l57c5ViL0aXujI0PJrClkEKxnBsoyjuta4zSBDQGqTVlR0bn+B8gLCQR9lmfkLB+/PDTpOtp2tz3G7yMpo6WiJ3DKgW5mZc3+GKfeHZkkLPlIxTqQ3+iMY1V46I+zao40oFd06jFKE07eHD8xlN8pToXNBAQ6ia0Drh5gmX6A+kGatbDsbT4L3tkYbnTGq0m+o0PTIRw8wwwlw3qFsjodPna7xS/rq7CLPwoaxf4aCT3pt1YMadMVLyPq+5k2BVQrYX1VgDOOXbQQIEU6vVhZjEifoYaNSskVn8mFrsSCADB6W7iXV5YEEj8HQzQ/ScTyl1FqFml+kr+mqC7opnL0ncnnZX5EA1fbftD2iQ=
  on:
    tags: true
    repo: zalando/tailor
    branch: master
env:
  global:
    secure: sTKr9tup3z0WP0GKYgxYVExHyVr0ktKFDBqzKzeTJggckWtxXoqnJmckC3EY/7+FYg8JlqAYjSvu2r1JVFVZYMQ7dJ+RojyhjZuUHsB8ULyNtlJnUhjdF7sp4/lY12uzDgielVrVq5tujndiR/2qX6FYD6XiGuGuevR5bqjfrfYbykqCNtdKPiCH7HU95vBq7Qoz+Z2GC7vm9jSN4YSaGk2SjjCcgqNH/xGlXLq6BsRcSSjMKecpQPjq+B1vseEqDMq785AP4r3POJ1g87sscquimtQykloGS7DDJ65YmbxKIrprbTt4aZto3jqp2v6g4gnLVC2mtFv3sEa3M63SaZDQimcamZSJuyKLEXqCVcj35j4lv28pV9RPbyvoEby7kKheKY6wvXQyknastf06mT/SP4nXDsZKIIvwlpNbURd2KQT5X1WZmIqjrfJ0Zm/BnED7pALMATfEsHzk/aoDRFUZhAJCz//5umMDcpSxOEtBkyxz07XzW47Z2NTIOhjf2mzJt2yxxOiU71Gv6DPCC25dBZDi3p/gPm/JYEX4XD5U4hwbnAbk60VntZomGY7+hshkknwSdzg4q+7g3CamG1Dfi+WDOzDm3/PzYOTQfXP26T2KEtRVcbkA5lGi+4E5bRGunxNUdnY3mFE9Oehjb6e+4ko9z5HJXEH381bGB5Q=
