sudo: false
language: node_js
node_js:
- '5.0'
cache:
  directories:
  - node_modules
before_install:
- npm install -g codeclimate-test-reporter
before_script:
- npm run lint
script:
- npm run coverage
after_script:
- codeclimate-test-reporter < coverage/lcov.info
matrix:
  fast_finish: true
addons:
  code_climate:
    repo_token:
      secure: RazrTSMK0xQU6PnSCP2gRZ/nxLvY2u6TW4Pqw6adihjSMmQ8+j79WX+K2ZGt3O2RICxqSrc0/c45F0tJBOlvebOBDR5b3aVhtAP14yj6EDVcvpfphepc4SHAaZTqWK3dw6YxkPh/uL5iGOMOp2CDm2KQ4KawT5zTjNSWRslsu9+aJf8Qe4CBTrOQCH4HJ8sb4mQnUGm2wbqNA1qEEdCUB0AOeRw2/1AazvPgBvM9D07pAkJn1Tr3JHJeKl8SwjUpZPt0xdZBF6MNAFfyUTh2OJH+4LYuNl5Nm0lt0tgUWngk5qTWOgOjSuZWh9q3y7L46joCz9g74XD6KXf46n7vr+PmiYt52IYgCAtpvigLREOG3/u1BJ55cyd8nLNiTjvNTzS59AYUou4QFBvIZHR+wW6d6Wqq6Yj18ZXBoAUo0yK9geTe3UsuUrIaJg2XEgMNmBKB8+rxqM+xgfNJ8qoI7UMP/UNeOb0b0vQZV7Ng+L5/eafTeEJs/7fdhasrrD7QqvHYgLJgKaHMNnjE/7vC09mUwY+4D/EXcX8TNUFwKs/ClaBL8dNnzPe0qNXh7Wy1wMXZyNuiWqt4mCQxHAUfbggoFkJoipLgrotTjb/jWx26dcreCef75UV6yd/ZCt/tQ7vPMncG3r2rK4XAXEv+LsrMYzrccoch5s2RfWLQJhE=
deploy:
  provider: npm
  email: vignesh.shanmugam22@gmail.com
  api_key:
    secure: CDMyrXfGYqRnmP/6lpGyVlZaKWaLFd/1AUSCR+glJVgTnu8nruE4BHpIHjHhr0+Sc1eN8Y30hl2Fsu8YB25n/pslU6s33g4MenwP96ikHDcf1I92MNsHwowpaVCsVujCT1lFV7cRE9ypdBchsaHJcMdSbdtSjzeVN6sSjz6OhMK/CmiODbhrURT0qqIdLBOt7BdieqmimB7059tJ8RhdR8ZeEYi+xLAMlvyvZhAIXGpyawcVuTtICoeRrgDw2B7DizXBPfPYBLcfeEsP5xWe1VTaG5vY4xbK9OxucyNd3LkdWd6u5ktDLSDVLtxoSkoTfCZ4l57c5ViL0aXujI0PJrClkEKxnBsoyjuta4zSBDQGqTVlR0bn+B8gLCQR9lmfkLB+/PDTpOtp2tz3G7yMpo6WiJ3DKgW5mZc3+GKfeHZkkLPlIxTqQ3+iMY1V46I+zao40oFd06jFKE07eHD8xlN8pToXNBAQ6ia0Drh5gmX6A+kGatbDsbT4L3tkYbnTGq0m+o0PTIRw8wwwlw3qFsjodPna7xS/rq7CLPwoaxf4aCT3pt1YMadMVLyPq+5k2BVQrYX1VgDOOXbQQIEU6vVhZjEifoYaNSskVn8mFrsSCADB6W7iXV5YEEj8HQzQ/ScTyl1FqFml+kr+mqC7opnL0ncnnZX5EA1fbftD2iQ=
  on:
    tags: true
    repo: zalando/tailor
    branch: master
